.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#SanOne {
  width: 95%;
  margin-left: 2.5%;
  height: 600px;
  padding-top: 100px;
  display: flex;
  position:inherit;
  cursor: pointer;

}

.SanOne-div {
  width: 100%;
  
}

.SanOne-div img {
  width: 100%;
  height: 80%;
      -webkit-transition: all .7s;
        -moz-transition: all .7s;
        transition: all .7s;
}
.SanOne-div:hover {
 /* border: 1px solid black; */
 /* position: static; */
 opacity: .9;
 /* filter: none;
 -webkit-filter: grayscale(0); */
}
.SanOne-div>p {
  font-size: 24px;
  color: #333;

    height: 3.6em;
    line-clamp: 2;
        overflow: 'hidden';
           
            display: '-webkit-box';
      
  }
   
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SanFour {

  height: 470px;
  /* margin-left: 60px; */
  display: flex;
  overflow: hidden;
}

.SanImg2 {
  height: 100%;
 

}
.SanImg2:hover{
  cursor: pointer;
  opacity: .9;
 
}
.SanFive {
  display: flex;
  width: 90%;
  height: 400px;
  margin-top: 100px;
  margin-left: 60px;

}
.SanThree {
  width: 50%;
  height: 20px;
  margin-top: 30px;
}

.SanThree>p {
  font-size: 35px;
  width:20%;
  /* margin-left: 550px; */
  margin-top: 10px;
}
.SanFive-div {
  width: 300px;
  height: 100%;
  margin-right: 40px;
  margin-left:5%;
}

.Santa5p {
  margin-top: 10px;
  line-height: 34px;
  color: #333;
  font-size: 23px;
}

.SanFive-div>img {
  width: 100%;
}

.nameSanta1 {
  margin-top: 10px;
  color: #fd5c74;
}

.Santa-box6 {
  color: #fd5c74;
  display: flex;
  line-height: 34px;
  font-size: 23px;
  margin-left: 1000px;
}

.Santa-box7 {

  width: 100%;
  height: 1000px;
  display: grid;
  background-color: #fd5c74;
}

.Santa-box7-div>p {
  font-size: 35px;
  margin-left: 530px;
  margin-top: 50px;
  width: 200px;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 0px;
}

.Santa-box7-2 {
  display: flex;
  height: 400px;
  margin-left: 80px;
}

.Santa-box7-2-1>img {
  width: 600px;
  height: 100%;
  border-radius: 5%;
}

.Santa-box7-2-2 {
  width: 600px;
  height: 95%;
  border-radius: 5%;
  margin-top: 10px;
  background-color: white;
  margin-left: -40px;
}

.Santa-box7-p1 {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 34px;
  font-size: 27px;
  color: #333;
}

.Santa-box7-p2 {
  margin-left: 30px;
  margin-right: 20px;
  line-height: 34px;
  font-size: 23px;
  color: #333;
}

.Santa-box7-p3 {
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 7px;
  font-weight: bold;
  font-size: 17px;
  color: #fd5c74
}

.Santa-box7-p4 {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 14px;
  color: #fd5c74
}

.Santa-box7-3 {
  width: 70%;
  height: 180px;
  margin-left: 60px;
  /* margin-right: 20px; */
  margin-top: 50px;
  display: flex;
}

.Santa-box7-3-1 {
  width: 470px;
  height: 200px;
  margin-right: 60px;
  display: flex;
  line-height: 34px;

}

.Santa-box7-3-1>div>img {
  width: 300px;
  height: 180px;
  margin-right: 60px;
  border-radius: 10px;
}

.Santa-box7-3-1>div>p {
  width: 250px;
  height: 120px;
  margin-left: -140px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  font-size: 20px;
  color: #333;
  padding-top: 10px;
  text-align: center;

}

.Santa-box7-3-2 {
  width: 470px;
  height: 200px;
  display: flex;
}

.Santa-box7-3-2>div>img {
  width: 300px;
  height: 180px;
  /* margin-right:60px; */
  border-radius: 10px;
}

.Santa-box7-3-2>div>p {
  width: 280px;
  height: 90px;
  margin-left: -100px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  font-size: 20px;
  color: #333;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

}

.Santabox7-4 {
  font-size: 22px;
  color: white;
  margin-left: 1200px;
  margin-bottom: -60px;
}

#Santa-box8 {
  margin-top: 30px;
  width: 100%;
  height: 700px;
  background-color: #fd5c74;
  border: 1ps solid red;
  display: grid;
}

#Santa-box8-div>p {
  font-size: 35px;
  margin-left: 580px;
  margin-top: 40px;
  width: 270px;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 0px;
}

#Santa-box9 {
  display: flex;
  /* margin-left: 60px; */
  background-color:#fd5c74;
}

#Santa-box9>div {
  width: 420px;
  padding-right: 20px;
}
#Niki_home {
  height: 500px;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto', sans-serif;
}

#Niki_title {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  margin-right: 30%;

}

#Niki_title>p {
  text-align: center;
  font-size: 35px;
  color: #333;
}

#Niki_line {
  width: 110px;
  height: 8px;
  border: 3px solid #f67;
  margin: auto;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
}

#Niki_firstphoto>div>img {
  width: 110px;
  height: 110px;
  margin-right: 20px;

}

#Niki_firstphoto {
  display: flex;
  margin-left: 70px;
  margin-bottom: 8px;

}

#Niki_firstphoto:hover {
  cursor: pointer;
  opacity: 0.6;
}

#Niki_redcolor {
  color: #f67;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

#Niki_grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 3%;
  margin: auto;
}

#Niki_homelastline {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

#Niki_homelastdiv {
  height: 50px;
  width: 200px;
  text-align: center;
  margin: auto;
  border: 1px solid #f67;
  border-radius: 5px;
  /* padding-top: 20px; */
  margin-top: 10px;
  background-color: #f67;
}

#Niki_homelastdiv>P {
  color: white;
  margin-bottom: 30px;
  top:0;
  background-color: #f67;
}

#Niki_homelastdiv:hover {
  cursor: pointer;
}

#Niki_blackcolor {
  margin-top: 5px;
}




#Niki_homesecond {
  width: 95%;
  height: 500px;
  /* border:1px solid black; */
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

#Niki_sectitle {
  width: 100%;
  height: 60px;
  margin-right: 30%;

}

#Niki_sectitle>p {
  text-align: center;
  font-size: 35px;
  color: #333;
}

#Niki_secline {
  width: 110px;
  height: 5px;
  border: 1px solid #f67;
  margin: auto;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
}

#Niki_seclastdiv {
  height: 360px;

  /* border:1px solid black; */
}

#Niki_secfirst {
  height: 360px;
  width: 18%;
  /* border:1px solid black; */
}

#Niki_secname {
  height: 40px;
  width: 100%;
  /* border:1px solid black; */
  font-size: 20px;
  text-align: center;
  color: #f67;
  margin-bottom: 10px;
}

#Niki_secimg>img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: 50px;
}

#Niki_secimg>p {
  text-align: center;
  height: 80px;
  width: 80%;
  margin: auto;
}


#Niki_seclastdiv {
  display: flex;
  justify-content: space-around;
  /* margin-left: 30px; */
}
#Santa9p1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  margin-top: 20px;
}

#Santahr {
  background-color: #ff5a78;
  height: 2px;
  width: 100px;
  border: 1px solid #ff5a78;
  margin-left: 580px;

}

#Santahr1 {
  background-color: #ff5a78;
  height: 2px;
  width: 100px;
  border: 1px solid #ff5a78;
  margin-left: 610px;

}
.DeshKiBaat{
  width:200px;
 
/* font-family:   Poppins-Hindi,  sans-serif; */
      color: #212121de;
}
.Santahr2 {
  background-color: #ff5a78;
  height: 2px;
  width: 100px;
  border: 1px solid #ff5a78;
  margin-left: 630px;

}

#Santa-box8-1 {
  height: 280px;
  margin-left: 60px;
  display: flex;
}

#Santa-box8-1-1>img {
  width: 280px;
  margin-right: 20px;
  border-radius: 5%;
}

#Santa-box8-2 {
  height: 100px;
  margin-left: 75px;
  display: flex;
}

#Santa-box8-1-2 {
  width: 250px;
  margin-right: 50px;
  margin-top: -100px;
  border: 1 px solid;
  background-color: whitesmoke;
  border-radius: 5%;
}

#Santa8-2 {
  font-size: 25px;
  margin: 20px;
  margin-bottom: 40px;
}

#Santa-8-1 {
  display: flex;
}
.Paramp1 {

  margin-top: 80px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 34px;
  color: #333;
  font-weight: 400;
  margin-bottom: 20px;
}
.SanThree {
  width: 17%;
  height: 80px;
  display: inline;
  margin-top: 30px;
  margin-left:47%;
  padding-bottom: 20px;
font-size: 35px;
/* border-bottom:2px solid #fd5c74; */
}
.SanThree>p{
  width:17%;
  margin-left:45%;
  /* display: inline-block; */
  border-bottom: 2px solid #fd5c74;
}
#dilkadaria{
  background-color:#ff5a78;
  font-size: 35px;
  margin-bottom:-30px;
  padding-bottom: 30px;
  
}
.Paramp2 {

  margin-left: 20px;
  line-height: 34px;
  color: #333;
  font-size: 23px;
  margin-bottom: 20px;
}

.nameSanta {
  color: #fd5c74;
  margin-left: 20px;
}
.gola{
  border-radius: 20px;
  background-color: white;
  width: 80%;
  gap:20px;
  margin: 10px 10px 10px 10px;
 
}